proxy:
    restart: always
    ports:
        - 80:80
        - 443:443

# pgsql:
#     restart: always
#     ports:
#         - '5432:5432'
#     environment:
#         POSTGRES_PASSWORD: root

mysql:
    restart: always
    ports:
        - '3306:3306'
    environment:
        MYSQL_ROOT_PASSWORD: root

adminer:
    restart: always
    volumes:
        - ./conf/adminer/theme.css:/data/http/adminer.css:ro
    links:
        - mysql
    environment:
        VIRTUAL_HOST: adminer.docker

maildev:
    restart: always
    ports:
        - 80
        - 1025:25
    environment:
        VIRTUAL_HOST: maildev.docker
        VIRTUAL_PORT: 80

logrotate:
    restart: always
    volumes:
        - /var/lib/docker/containers:/var/lib/docker/containers:rw
    environment:
        LOGROTATE_MAX_SIZE: 2M

blackfire:
    restart: always
    environment:
        BLACKFIRE_CLIENT_ID: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        BLACKFIRE_CLIENT_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        BLACKFIRE_SERVER_ID: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        BLACKFIRE_SERVER_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
